html{
    background-color:aliceblue;
}
@font-face {
    font-family: playstationfont;
    src: url('zrnic___.ttf');
}

h1 {
    margin: 0;
    margin-top: 5px;
    text-align: center;
    color:black;
    font-family: playstationfont;    
    font-size: 45px;
}
p{
    display: block;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 7px;
    color:black;
    font-size: 29px;
    font-family: playstationfont;
}    
.ps5logo {
    margin: 0;
    width: 230px;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
   
}   
.logo {
    margin: 0;
    width: 60px;
    height: 50px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; 
   
    
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 540px;
    height: 310px;
}
